footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

footer a {
  font-weight: bolder;
  color: rgba(30, 143, 255, 0.63);
}

footer .about-link {
  margin-left: 0.5rem;
  color: dodgerblue;
  cursor: pointer;
}
