.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.header .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .links-container .link-container {
  padding: 0 0.2rem;
  margin-left: 0.5rem;
}

.header .links-container .signout-link {
  color: rgba(30, 143, 255, 0.623);
  cursor: pointer;
  font-weight: bolder;
}

.header .links-container a {
  font-weight: bolder;
}
