.player-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 780px) {
  .player-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .player-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.player-info .player-info-individual {
  background-color: #192027;
  padding: 1rem;
  border-radius: 5px;
}

.player-info .player-info-individual a {
  border-radius: 5px;
}

.player-info .player-info-individual a:hover {
  background-color: dodgerblue;
  color: #e7e7e7;
  padding: 0 0.5rem;
}

.player-info .player-info-individual .info-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5rem;
}

.player-info .player-info-individual .info-box .ex {
  font-size: 0.8rem;
  font-weight: bolder;
}

.player-info .player-info-individual .info-box .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-info .player-info-individual .info-box .info-container p {
  font-size: 0.6rem;
  font-weight: bolder;
  margin-right: 0.5rem;
}

.player-info .player-info-individual .info-box .green {
  background-color: green;
}

.player-info .player-info-individual .info-box .yellow {
  background-color: yellow;
}

.player-info .player-info-individual .info-box .red {
  background-color: red;
}

.player-info .player-info-individual .info-box .info-circle {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}

.player-info .player-info-individual .player-name {
  margin-bottom: 0.5rem;
}

.player-info .player-info-individual .total-score {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.player-info .player-info-individual .stats-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 780px) {
  .player-info .player-info-individual .stats-info {
    gap: 0.3rem;
  }
}

.player-info .player-info-individual .label {
  background-color: #121212;
  padding: 5px;
  border-radius: 5px;
}

.player-info .player-info-individual .label-container {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 780px) {
  .player-info .player-info-individual .label-container {
    padding: 0.5rem;
  }
}

.player-info .player-info-individual .salary-container {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.player-info .player-info-individual .score-container {
  background-color: #121212;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.player-info .player-info-individual .score-indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.player-info .player-info-individual .score-indicator.good {
  background-color: green;
}

.player-info .player-info-individual .score-indicator.below-average {
  background-color: yellow;
}

.player-info .player-info-individual .score-indicator.bad {
  background-color: red;
}
