.sign-in-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-in-container h2 {
  margin-bottom: 0.5rem;
}

.sign-in-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
  padding: 0 2rem;
  max-width: 600px;
}

.sign-in-container form label {
  font-size: 1.3rem;
}

.sign-in-container form .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
}

.sign-in-container form .username #username {
  height: 2.5rem;
  font-size: 1.2rem;
}

.sign-in-container form .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
}

.sign-in-container form .password #password {
  height: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.sign-in-container form button[type='submit'] {
  max-width: 600px;
  height: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 0.9rem;
  background-color: dodgerblue;
  border-radius: 0.2rem;
}

.sign-in-container form button[type='submit']:disabled {
  color: white;
  background-color: #1e8fffb7;
}

.sign-in-container form .error {
  background-color: rgba(255, 0, 0, 0.637);
  padding: 0.2rem;
  text-align: center;
  border-radius: 0.2rem;
}
